.step {
  .stepItem {
    :global {
      .next-step-item-container {
        padding: 0 4px;
        display: inline-flex;

        .next-step-item-node-placeholder {
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;

          .next-step-item-node {
            .next-icon:before {
              width: 20px;
              font-size: 20px;
            }
            .next-step-item-node-dot {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

.submitBtn {
  margin-top: 40px;
  text-align: right;
}

.cannelBtn {
  margin-bottom: 30px;
  align-self: flex-end;
  margin-right: 5%;
}

.loading {
  margin-top: 0;
  width: 100%;
}

.term {
  width: 90%;
  margin: 20px auto 0;
}

.form {
  padding-top: 50px;
}