.list {
  width: 80%;
  margin-bottom: 20px;

  :global {
    .next-list-item-content {
      width: 80%;
    }
  }
}

.listDescription {
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
