.row {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .subTitle {
    font-size: 20px;
    font-weight: 500;
  }

  .input {
    min-width: 100%;
  }

  .warningInput {
    border-color: #f1c826;
  }

  .warningIcon {
    margin: 0 5px;
    color: #f1c826;
  }

  .tooltip {
    width: 100px;
  }
}
