.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.table {
  margin-top: 20px;
}

.placeholder {
  width: 28px;
  margin-right: 6px;
}