.title {
  font-size: 18px;
  font-weight: 500;
}

.addDepBtn {
  margin-top: 20px;
}

.table {
  margin-top: 20px;

  .columnCell {
    display: flex;
    align-items: center;
  }
}

.button {
  margin-left: 10px;
}

.placeholder {
  width: 28px;
  margin-right: 6px;
}