.row {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .subTitle {
    font-size: 20px;
    font-weight: 500;
  }

  .select {
    min-width: 100%;
  }
}

.selectItemRender {
  display: flex;
  align-items: center;

  img {
    margin-left: 20px;
  }
}


.promptIcon {
  color: #f9ca24;
  margin-left: 4px;
}