.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.aside {
  position: fixed;
  width: 180px;
  padding-top: 60px;
  flex: 0 0 180px;
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
}

.main {
  width: calc(100vw - 180px);
  background-color: white;
  margin-left: 180px;
}
