.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
}

.aside {
  margin: 78px 8px 0 8px;
  flex: 0 0 176px;
}

.main {
  width: calc(100vw - 170px - 10px - 10px);
  height: 100vh;
  background-color: white;
}

