.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;

  .title {
    font-size: 20px;
    font-weight: 500;
    
  }
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .removeIcon {
    font-size: 22px;
    cursor: pointer;
  }
}