.container {
  background: white;
  z-index: 3;
  width: 600px;
  max-height: 360px;
  padding: 20px;
  border: 1px solid rgb(223, 215, 202);
  box-shadow: rgb(0 0 0 / 50%) 0 0 10px 0;
  overflow: scroll;
}

.table {
  margin-top: 10px;
}