
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 10px;
  margin: 0 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: sticky;
  top: -40px;
  background: white;
  z-index: 10;

  .title {
    font-size: 32px;
    font-weight: bold;
  }
}

.sticky {
  margin: 0;
  background: #f9f9f9;

  .title {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
