
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);

  .title {
    font-size: 32px;
    font-weight: bold;
  }
}
