
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: sticky;
  top: -40px;
  background: white;
  z-index: 10;

  .title {
    font-size: 32px;
    font-weight: bold;
  }
}
