.successIcon {
  color: $color-success-3;
}

.code {
  display: block;
  background: #f1f1f1;
  padding: 4px;
  width: 400px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
  
.text {
  margin: 20px 0;
}
  