.dashboard {
  margin: 0 30px;
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  main {
    margin-top: 40px;
  }
}
