.dashboard {
  margin: 0 38px;

  main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .term {
      margin-top: 20px;
    }
  }
}
