.xtermContainer {
  position: relative;
  background: $color-fill1-1;

  .clearIcon {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    color: white;
  }
}

.xtermRef {
  height: calc(100vh - 248px);

  &>div {
    padding: 10px;
  }
}
