.row {
  margin-bottom: 20px;
}

.input {
  min-width: 100%;
}

.icon {
  cursor: pointer;
}

.folderIcon {
  @extend .icon;
  margin-right: 10px;
}

.minusIcon {
  @extend .icon;
  margin-left: 10px;
}

.gitDirRow {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.addItemBtn {
  min-width: 100%;
}