.appList {
  width: 100%;
  padding-bottom: 30px;

  .appInfo {
    margin: 0 40px;
    border-bottom: 1px solid #e6e6e6;

    .title {
      font-size: 20px;
      padding: 16px 0;
      font-weight: bold;
    }

    .btn {
      font-size: 12px;
      font-weight: bold;
      background-color: #f2f2f7;
      width: 64px;
      height: 24px;
      border-radius: 10px;
    }

    .icon {
      width: 48px;
      height: 48px;
      margin-right: 14px;
    }

    .subTitle {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    .description {
      margin: 4px 0;
      font-size: 12px;
    }
  }
}
