.appList {
  width: 100%;
  padding-bottom: 30px;

  .appInfo {
    margin: 24px 40px 0;
    border-bottom: 1px solid #e6e6e6;

    .btn {
      font-size: 12px;
      font-weight: bold;
      background-color: #f2f2f7;
      width: 64px;
      height: 24px;
      border-radius: 10px;
    }

    .icon {
      width: 48px;
      height: 48px;
      margin-right: 14px;
    }

    .title {
      display: flex;
      align-items: center;

      .subTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        user-select: none;
      }

      .tag {
        margin-left: 10px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;

        :global(.next-tag-body) {
          font-size: 10px;
        }
      }
    }

    .description {
      margin: 4px 0;
      font-size: 12px;
    }
  }
}
