.nav {
  :global {
    .next-nav {
      &.next-normal .next-nav-item.next-menu-item {
        height: 42px;
        line-height: 42px;

        &:hover {
          background-color: rgb(235, 235, 235);
        }
        &.next-selected {
          background-color: rgb(211, 211, 211);
          color: #666;
          border-radius: 4px;
        }

        &:before {
          background-color: #ebebeb;
        }
      }
      &.next-ver {
        height: 42px;
        line-height: 42px;
        .next-menu-item-inner {
          height: 42px;
        }
      }
    }
  }
}

.link {
  &:link {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
}

.icon[class~="toolkit-medium"] {
  font-size: 16px;
  margin-right: 10px;
}
