.extensionsList {
  width: 100%;
  padding-bottom: 30px;

  .tag {
    color: black;
    margin: 20px 0 0 38px;
  }

  .extensionInfo {
    margin: 0 38px;
    border-bottom: 1px solid #e6e6e6;

    .title {
      font-size: 16px;
      padding: 20px 0;
      font-weight: bold;
    }
  }
}

.dialog {
  line-height: 20px;

  button {
    display: inline-flex;
    align-items: center;
  }
}
