.row {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .subTitle {
    font-size: 16px;
    font-weight: 500;
  }

  .switchVersionBtn {
    margin-left: 16px;
  }

  .col {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}

