.dialogFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tip {
    font-size: 12px;
    color: #999;
  }

  .promptIcon {
    color: #f9ca24;
  }

  .button {
    margin-left: 10px;
  }
}